<!DOCTYPE html>
<!-- Template by Quackit.com -->
<!-- Images by various sources under the Creative Commons CC0 license and/or the Creative Commons Zero license.
Although you can use them, for a more unique website, replace these images with your own. -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>O tal do DevOps</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	<span class="glyphicon glyphicon-fire"></span>
                	LOGO
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Products</a>
                    </li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="#">Engage</a></li>
							<li><a href="#">Pontificate</a></li>
							<li><a href="#">Synergize</a></li>
						</ul>
					</li>
                    <li>
                        <a href="#">My Account</a>
                    </li>
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Feature -->
	<div class="jumbotron feature">
		<div class="container">
			<h1><span class="glyphicon glyphicon-equalizer"></span> Infraestrutura Ágil</h1>
			<p>Template bootstrap simples falando um pouco sobre DevOps, Infraestrutura Ágil e outras modinhas</p>
      <br>
		</div>
	</div>


    <!-- Heading -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center">Por onde Começar</h1>
                <p class="lead text-center">Segunda a wikipedia, O termo "DevOps" refere-se a interdependência entre desenvolvimento de software e operações de TI, Eis uma ótima maneira de começar a conceituar esse termo, a proposta é que através da adoção de filosofias e metodoligas voltadas a este conceito, Organizações possam produzir software e serviços e principalmente entregar valor mais rapidamente.</p>
                <p class="lead text-center">Para começar separamos três ótimos posts sobre o assunto, publicados por Guto Carvalho, pelo blog justdigital e pela pagina Insights da Red Hat respectivamente:</p>
            </div>
        </div>
    </div>

    <!-- promos -->
	<div class="container-fluid">
        <div class="row promo">
        	<a href="http://gutocarvalho.net/octopress/2013/03/16/o-que-e-um-devops-afinal/">
				<div class="col-md-4 promo-item item-1">
					<h3>
            O que é DevOps afinal?
					</h3>
          </div>
            </a>
            <a href="http://blog.justdigital.com.br/devops-qual-a-diferencas-entre-continuous-delivery-continuous-integration-e-continuous-deployment/">
				<div class="col-md-4 promo-item item-2">
					<h3>
						Continuous Integration, Delivery e Deployment
					</h3>
				</div>
            </a>

			<a href="https://www.redhat.com/pt-br/insights/devops">
				<div class="col-md-4 promo-item item-3">
					<h3>
            Inove mais rápido com o DevOps
					</h3>
				</div>
            </a>
        </div>
    </div><!-- /.container-fluid -->
    <br>

  <!-- Ebooks -->
	<div class="container">
		<h1 class="text-center">O que temos de material bom e gratuito por ai?</h1>
    <p class="lead text-center">Existe bastante material interessante sobre assunto na internet e infelizmente bastante material "não tão interessante também", para começar vou recomendar 4 ebooks gratuitos da série de ebooks liberados pelo grupo nginx e pela edito O'Reilly que tratam direta ou indiretamente sobre DevOps e Delivery Continuo de Aplicações:</p>
    <br>


		  <div class="row">

        <!-- Ebook 1 -->
  			<div class="col-sm-6 col-md-3" width="420" height="315">
  				<div class="thumbnail featured-product">
            <a href="https://www.nginx.com/resources/library/designing-deploying-microservices/#">
              <img src="images/ebook-microservices.png" alt="">
            </a>
  					<div class="caption">
  						<h3>Microservices: From Design to Deployment</h3>
  						<p>A equipe do projeto Nginx tem publicado interessantes ebooks sobre microserviços e processos de delivery continuo, muito disso se aplica diretamente ao conceito DevOps, este primeiro ebooks trata da arquitetura por trás do desenvolvimento de Microserviços</p>
  					</div>
  				</div>
  			</div>

  			<!-- Ebook 2 -->
  			<div class="col-sm-6 col-md-3">
  				<div class="thumbnail featured-product">
  					<a href="https://www.nginx.com/resources/library/containerizing-continuous-delivery-java/">
  						<img src="images/ebook-containerizing.png" alt="">
  					</a>
  					<div class="caption">
  						<h3>Containerizing Continuous Delivery in Java</h3>
  						<p>Esse segundo ebook também é uma cortesia do pessoal do Nginx, ele trata sobre o deploy de aplicações java usando container, mais especificamente docker, cobrindo toda a estrutura necessária, desde o build até processos de monitoração e delivery</p>
  					</div>
  				</div>
  			</div>

  			<!-- Ebook 3 -->
  			<div class="col-sm-6 col-md-3">
  				<div class="thumbnail featured-product">
  					<a href="https://try.newrelic.com/rs/newrelic/images/NewRelic-Kickstarting-Devops-eBook.pdf">
  						<img src="images/ebook-kickstarting.png" alt="">
  					</a>
  					<div class="caption">
  						<h3>Kickstarting DevOps</h3>
  						<p>Ebook publicado pela New Relic que trata de uma importante questão sobre DevOps, Como convencer seu time e fazer a migração?  A ideia é interessante por tratar de cenários onde partimos de processos tradicionais de desenvolvimento e operação para DevOps, o que tende a ser bem complicado.</p>
  					</div>
  				</div>
  			</div>

       <!-- Ebook 4 -->
        			<div class="col-sm-6 col-md-3">
        				<div class="thumbnail featured-product">
        					<a href="http://www.oreilly.com/webops/free/">
        						<img src="images/ebook-12-factor.png" alt="">
        					</a>
        					<div class="caption">
        						<h3>Free Web Ops & DevOps Ebooks</h3>
        						<p>A Editora O'Reilly possui diversas publicações na área de Delivery Continuo, aplicações e uso de Containers, muitas dessas publicações são gratuitas e voltadas a atrair o publico para a área, ( Essa imagem é de uma das + interessantes: "Beyoud 12 Factor" );</p>
        					</div>
        				</div>
        			</div>

        </div><!-- /.container -->


	<div class="container text-center">
		<h1>Se assustou? Isso é Bom!</h1><br>
		<img class="img-responsive img-circle center-block" src="images/omgdevops.png" alt=""><br>
    <p class="lead">Definitivamente acomodações e zonas de conforto não são boas para a área de tecnologia, a filosofia DevOps é um ótimo exemplo disso, ela força tanto o Developer quanto o Sysadmin a evoluirem e buscarem a melhora continua diminuindo erros agilizando entregas, eliminando procesos e principalmente gerando valor.</p>
	</div><!--/.container-->


	<!-- Footer -->
	<footer><br>

        <!-- Footer Links -->
        <div class="footer-info">
          <div class="container">
            <div class="row">
              <div class="col-sm-4 footer-info-item">
                <h3>Information</h3>
                <ul class="list-unstyled">
                  <li><a href="https://www.linkedin.com/in/hpinfo/">About Me</a></li>
    							<li><a href="https://github.com/2TINA">Contributions</a></li>
                </ul>
              </div>
              <div class="col-sm-4 footer-info-item">
                <h3>References</h3>
                <ul class="list-unstyled">
                  <li><a href="https://www.nginx.com/resources/library/">Nginx library</a></li>
                  <li><a href="https://www.oreilly.com/programming/free/">Oreilly programing free</a></li>
                </ul>
              </div>
            </div><!-- /.row -->
          </div><!-- /.container -->
            </div>

        <!-- Copyright etc -->
        <div class="small-print">
        	<div class="container">
        		<p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
        		<p>Copyright &copy; devops.fiap.site 2016 </p>
        	</div>
        </div>

	</footer>


    <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

	<!-- IE10 viewport bug workaround -->
	<script src="js/ie10-viewport-bug-workaround.js"></script>

</body>

</html>
