zone {{ domain }} {
        type master;
        file "/etc/bind/db.{{ dbfile }}";
        notify yes;
};

zone "{{ rvfile }}.in-addr.arpa" {
        type master;
        file "/etc/bind/db.{{ rvfile }}";
        allow-query { any; };
};
